<div class="container">
  <h1>Restaurants</h1>

   <% @restaurants.each do |restaurant|  %>
     <div class="row">
      <div class="cols-xs-12 col-md-4">
        <%= restaurant.name %>
      </div>
       <div class="cols-xs-12 col-md-4"><%= link_to "See details", restaurant, class: "btn btn-primary "%></div>
       <div class="col-xs-12 col-md-4"><%= link_to "Add a review", new_restaurant_review_path(restaurant), class: "btn btn-success" %></div>
     </div>
   <% end  %>

  <%= link_to "Add a Restaurant", new_restaurant_path %>

</div>
